.container{
    width: 80%;
    background-image: url(/images/img\ 2.jpeg);
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-size: 20px;
    color: white;
    height: 110vh;
}

.icon-home{

    font-size: 30px;

}
.icon-home:hover{
    transform: scale(1.5);
}




.container h1{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.container p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.social{

    margin: 30px 0px;
    
}

.social a{
    
    text-decoration: none;
    margin: 10px;

}

.social a:nth-child(1) { 

    color: white;
    background-color: #3b5998;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
}

.facebook{
    padding: 4px;
}

.social a:nth-child(2) { 

    color: white;
    background-color: #88acee;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
}

.twitter{
    padding: 4px;
}


.social a:nth-child(3) { 

    color: white;
    background-color: #c4382b;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
}

.google{
    padding: 4px;
}


.line{
    display: flex;
    align-items: center;
    margin: 30px;
}


.line::before, .line::after{
    content: "";
    background-color: black;
    padding: 1px;
    flex: 1;
    margin: 30px 10px ;
    
}

.line-bg{

    font-size: 25px;
    background-color: lightgray;
    padding: 10px 10px;
    border-radius: 60%;
}


input[type="email"]{
    width: 40%;
    padding: 12px;
    background-color: lightslategrey;
    border: solid 2px lightgray;
    border-radius: 10px;
    text-indent: 20px;
}

input[type="text"]{
    width: 40%;
    padding: 12px;
    background-color: lightslategrey;
    border: solid 2px lightgray;
    border-radius: 10px;
    text-indent: 20px;
}



input[type="tel"]{
    width: 40%;
    padding: 12px;
    background-color: lightslategrey;
    border: solid 2px lightgray;
    border-radius: 10px;
}


input[type="password"]{
    width: 40%;
    padding: 12px;
    background-color: lightslategrey;
    border: solid 2px lightgray;
    border-radius: 10px;
    text-indent: 20px;
}


input[type="confirm password"]{
    width: 40%;
    padding: 12px;
    background-color: lightslategrey;
    border: solid 2px lightgray;
    border-radius: 10px;
    text-indent: 20px;
}


input[type="button"]{
    width: 20%;
    
}

input[type="email"]:focus{
outline: none;
color: blue;
}


/* ::placeholder{
    padding-left: 20px;
} */

.btn{
    background-color: #c4382b;
    color: white;
    padding: 10px 20px ;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px wheat solid;
    
}

.form-class{
    margin-top: 20px;
    position: relative;
}

.email{
    position: absolute;
    left: 29%;
    top: 25%;
    color: wheat;
    
}

.user{
    position: absolute;
    left: 29%;
    top: 25%;
    color: wheat;
    
}

.phone{
    position: absolute;
    left: 29%;
    top: 25%;
    color: wheat;
    
}


.password{
    position: absolute;
    left: 29%;
    top: 25%;
    color: wheat;
    
}

/* Mobile responsiveness here  */

 @media only screen and (max-width:600px){
    .container{
        width: 100%;
    }
    

    .social a{
    
        text-decoration: none;
        margin: 5px; 

    }

    input[type="email"]{
        width: 70%;
    }

    input[type="tel"]{
        width: 70%;
    }

    input[type="text"]{
        width: 70%;
    }

    input[type="password"]{
        width: 70%;
    }

    input[type="confirm password"]{
        width: 70%;
    }

    .btn{
        width: 50%;
    }

    .email{
        position: absolute;
        left: 13%;
        top: 25%;
        color: wheat;
        
    }
    
    .user{
        position: absolute;
        left: 13%;
        top: 25%;
        color: wheat;
        
    }
    
    .phone{
        position: absolute;
        left: 13%;
        top: 25%;
        color: wheat;
        
    }
    
    
    .password{
        position: absolute;
        left: 13%;
        top: 25%;
        color: wheat;
        
    }
 }




